/* ...
*= require_self
*= require ../basics
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000379}}
body {
  background-color: #0a0a0a;
  background-image: url("../bg.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000384}}
div, spiv {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000394}}
a {
  text-decoration: none;
  color: #AFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000397}}
  a:active {
    color: #FFA; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003100}}
  a:visited {
    color: #FAF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003105}}
#studio_center {
  margin: 0px auto;
  height: 100%;
  width: 1221px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003112}}
#studio {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0px;
  right: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003119}}
  #studio .drawer {
    font-family: "kiroregular, sans-serif";
    color: white;
    width: 300px;
    height: 100%;
    background-color: #444444;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003130}}
    #studio .drawer.sinistra {
      left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003133}}
    #studio .drawer.dextra {
      right: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003137}}
    #studio .drawer .drawer_heading {
      background-color: #777777;
      border-bottom: 1px solid white;
      margin: 0px;
      line-height: 40px;
      padding: 0px 10px;
      font-weight: 100;
      font-size: 18px;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003146}}
      #studio .drawer .drawer_heading .heading_words {
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003149}}
      #studio .drawer .drawer_heading .controls {
        float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003153}}
    #studio .drawer .fieldLabel {
      font-size: 12px;
      margin-bottom: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003157}}
    #studio .drawer label {
      font-size: 12px;
      line-height: 18px;
      display: inline-block;
      vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003163}}
    #studio .drawer input[type=number] {
      width: 72px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003166}}
    #studio .drawer input[type=range] {
      -webkit-appearance: none;
      background-color: #333;
      height: 12px;
      cursor: ew-resize; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003173}}
    #studio .drawer input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #DA3;
      width: 4px;
      height: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003181}}
    #studio .drawer .urlarea {
      width: 100%;
      height: 70px;
      box-sizing: border-box;
      padding: 5px;
      background-color: #777;
      color: white;
      font-size: 12px;
      border: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003191}}
    #studio .drawer .clearfix {
      height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003195}}
    #studio .drawer .drawer_content .drawer_section {
      border-bottom: 1px solid white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003197}}
      #studio .drawer .drawer_content .drawer_section .ds_heading {
        background-color: #333;
        padding: 7px;
        font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003203}}
      #studio .drawer .drawer_content .drawer_section .ds_body .drawer_division {
        border-top: 1px solid #aaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003205}}
        #studio .drawer .drawer_content .drawer_section .ds_body .drawer_division .dd_heading {
          padding: 7px;
          background-color: #333;
          font-size: 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003210}}
        #studio .drawer .drawer_content .drawer_section .ds_body .drawer_division .dd_body {
          padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003212}}
          #studio .drawer .drawer_content .drawer_section .ds_body .drawer_division .dd_body.nopad {
            padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003228}}
  #studio #editor {
    font-family: "kiroregular, sans-serif";
    width: 601px;
    position: absolute;
    left: 310px;
    top: 0px;
    bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003237}}
    #studio #editor #idea_window {
      overflow: hidden;
      position: absolute;
      top: 0px;
      bottom: 259px;
      width: 100%;
      background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003245}}
      #studio #editor #idea_window #ideas {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        cursor: crosshair; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003251}}
        #studio #editor #idea_window #ideas #tracks {
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 100%;
          border-left: 1px dotted #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003257}}
          #studio #editor #idea_window #ideas #tracks .circuitTrack {
            width: 19px;
            border-right: 1px solid #333333;
            height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003260}}
            #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule {
              position: absolute;
              width: 19px;
              min-height: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003264}}
              #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule .noteExpander {
                height: 2px;
                width: 100%;
                background-color: #D82;
                visibility: hidden;
                cursor: n-resize;
                border-bottom: 1px solid #C60;
                border-top: 1px solid #C60; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003273}}
              #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule .note {
                background-color: #dddddd;
                opacity: 0.7;
                min-height: 1px;
                width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003279}}
              #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule.selected {
                z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003281}}
                #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule.selected .noteExpander {
                  visibility: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003284}}
                #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule.selected .note {
                  cursor: move;
                  opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003290}}
              #studio #editor #idea_window #ideas #tracks .circuitTrack .noteCapsule.recording .note {
                background-color: #ccffee; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003297}}
        #studio #editor #idea_window #ideas #barlines {
          position: absolute;
          bottom: 0px;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003301}}
          #studio #editor #idea_window #ideas #barlines .bar {
            width: 100%;
            border-bottom: 1px solid #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003304}}
            #studio #editor #idea_window #ideas #barlines .bar .beat {
              width: 100%;
              border-bottom: 1px dotted #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003309}}
          #studio #editor #idea_window #ideas #barlines .loop {
            position: absolute;
            background-color: #8AF;
            height: 1px;
            width: 100%;
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003317}}
        #studio #editor #idea_window #ideas .noteSelectBox {
          position: absolute;
          border: 1px dashed white;
          cursor: crosshair; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003325}}
    #studio #editor #instrumentation {
      width: 100%;
      height: 259px;
      position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003331}}
      #studio #editor #instrumentation div {
        overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003335}}
      #studio #editor #instrumentation #swytches {
        border-left: 1px solid #222222;
        border-top: 1px solid #222222;
        border-bottom: 1px solid #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003339}}
        #studio #editor #instrumentation #swytches .trackSwitch {
          cursor: pointer;
          height: 19px;
          line-height: 19px;
          color: #222222;
          text-align: center;
          width: 19px;
          border-right: 1px solid #222222;
          background-color: #aaa;
          box-shadow: 0px 0px 7px #333 inset;
          color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000368}}
          #studio #editor #instrumentation #swytches .trackSwitch.active {
            background-color: #FEA !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000371}}
          #studio #editor #instrumentation #swytches .trackSwitch.recording {
            background-color: #DFD !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000374}}
          #studio #editor #instrumentation #swytches .trackSwitch.selected {
            background-color: #DDD; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003350}}
      #studio #editor #instrumentation #edit_controls {
        width: 591px;
        padding: 5px 5px 0px;
        background-color: #222222;
        font-family: "kiroregular, sans-serif";
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003356}}
        #studio #editor #instrumentation #edit_controls .ditch {
          display: inline-block;
          width: 9px;
          height: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003361}}
        #studio #editor #instrumentation #edit_controls .spacer {
          height: 36px;
          padding-top: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003364}}
          #studio #editor #instrumentation #edit_controls .spacer.group {
            padding-top: 5px;
            border-top: 1px solid #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003371}}
        #studio #editor #instrumentation #edit_controls .button_box {
          width: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003373}}
          #studio #editor #instrumentation #edit_controls .button_box .label {
            width: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003378}}
        #studio #editor #instrumentation #edit_controls .label {
          color: white;
          font-size: 7px;
          line-height: 12px;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003384}}
        #studio #editor #instrumentation #edit_controls .control {
          min-height: 20px;
          padding: 3px 2px 2px 2px;
          line-height: 20px;
          box-shadow: inset 0 0 5px #999;
          margin: 0px auto;
          border: 1px solid #000;
          font-size: 14px;
          text-align: center;
          background-color: #dddddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003394}}
          #studio #editor #instrumentation #edit_controls .control.button {
            width: 20px;
            cursor: pointer;
            color: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003398}}
            #studio #editor #instrumentation #edit_controls .control.button.kosher {
              background-color: #ccffee;
              box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003402}}
            #studio #editor #instrumentation #edit_controls .control.button.active {
              background-color: #ffeeaa;
              box-shadow: 0px 0px 7px #8af; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003406}}
            #studio #editor #instrumentation #edit_controls .control.button.warning {
              background-color: #ffcccc;
              box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003411}}
          #studio #editor #instrumentation #edit_controls .control.field {
            padding: 2px;
            line-height: 21px;
            /* inputs have some weirdness */
            width: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003415}}
            #studio #editor #instrumentation #edit_controls .control.field.twodigit {
              width: 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003418}}
            #studio #editor #instrumentation #edit_controls .control.field.threedigit {
              width: 48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003422}}
          #studio #editor #instrumentation #edit_controls .control.select {
            height: 27px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003436}}
      #studio #editor #instrumentation #machines {
        background-color: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003438}}
        #studio #editor #instrumentation #machines .machine {
          width: 59.2px;
          margin-right: 1px;
          border-bottom: 0px;
          height: 30.48px;
          font-size: 14px;
          line-height: 30px;
          text-align: center;
          background-color: #444444;
          color: white;
          vertical-align: top;
          cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003450}}
          #studio #editor #instrumentation #machines .machine:last-child {
            margin-right: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003456}}
      #studio #editor #instrumentation #circuits .circuits {
        width: 601px;
        background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003459}}
        #studio #editor #instrumentation #circuits .circuits .circuitRow {
          float: left;
          width: 290.5px;
          margin: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003464}}
          #studio #editor #instrumentation #circuits .circuits .circuitRow .circuit {
            border-radius: 3px;
            border: 1px solid black;
            width: 48.1px;
            height: 38.48px;
            margin: 4px;
            text-align: center;
            line-height: 38.48px;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            /*
             Introduced in IE 10.
             See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
            -ms-user-select: none;
            user-select: none;
            background-color: #aaa;
            box-shadow: 0px 0px 7px #333 inset;
            color: black;
            cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000368}}
            #studio #editor #instrumentation #circuits .circuits .circuitRow .circuit.active {
              background-color: #FEA !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000371}}
            #studio #editor #instrumentation #circuits .circuits .circuitRow .circuit.recording {
              background-color: #DFD !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\0000374}}
            #studio #editor #instrumentation #circuits .circuits .circuitRow .circuit.selected {
              background-color: #DDD; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/nodea\/scss\/studio\.scss}line{font-family:\00003477}}
        #studio #editor #instrumentation #circuits .circuits .touchpad {
          width: 100px;
          height: 100px;
          border: 1px solid #222222;
          margin: 62px auto;
          border-radius: 5px; }
