/* ...
*= require_self
*= require ../basics
*/

$drawer_font: "kiroregular", "sans-serif";
$interface_font: "kiroregular", "sans-serif";

$drawer_width: 300px;
$ds_element_padding: 7px;

$track_width: 19px;
$circuit_padding: 10px;
$tracks_width: (($track_width+1px)*30) + 1px; //tracks + borders
$machine_width: $tracks_width;
$machine_height: 30px;
$instrumentation_height: 259px; // required for correct positioning of tracks

$machine_color: #222;
$case_color: #444; //rgba(100,100,100,0.62);
$drawer_content_color: #777;

$circuitrow_margin: 5px;
$circuitrow_width: ($machine_width/2) - (2*$circuitrow_margin);

$circuit_margin: 4px;
$circuit_border: 1px;
$circuits_per_row: 5;
$circuit_width: ($circuitrow_width - ((2*$circuits_per_row)*($circuit_margin+$circuit_border))) / $circuits_per_row;
$circuit_height: $circuit_width * .8;
$circuit_text_color: #222;

$bar_line_color: #222;
$beat_line_color: #333;
$track_line_color: #333;

$note_color: #DDD;
$note_expander_height: 2px;

$active_color: #FEA;
$warning_color: #FCC;
$kosher_color: #CFE;

$touchpad_dimension: 100px;

$control_dimension: 20px;

@mixin unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@mixin track($border) {  
    width: $track_width;
    border-right: $border;
}

@mixin circuitry{
    background-color: #aaa;
    box-shadow: 0px 0px 7px #333 inset;
    color: black;
    &.active{ 
        background-color: #FEA !important; 
    }
    &.recording{ 
        background-color: #DFD !important; 
    }
    &.selected{ 
        background-color: #DDD;
    }
}

body{
    background-color:#0a0a0a;
    background-image: url('../bg.png');
}

div, spiv{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
    color: #AFF;
    &:active{
        color: #FFA;
    }   
    &:visited{
        color: #FAF;
    }
}

#studio_center{
    margin: 0px auto;
    height: 100%;
    width: (2*$drawer_width) + $machine_width + (2*$circuit_padding);
    position: relative;
}

#studio{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0px;
    right: 0px;

    .drawer{
        font-family: $drawer_font;
        color: white;
        width: $drawer_width;
        height: 100%;
        //background-color: $machine_color;
        background-color: $case_color;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;

        &.sinistra{
            left: 0px;
        }
        &.dextra{
            right: 0px;
        }

        .drawer_heading{
            background-color: $drawer_content_color;
            border-bottom: 1px solid white;
            margin: 0px;
            line-height: 40px;
            padding: 0px 10px;
            font-weight: 100;
            font-size: 18px;
            clear: both;
            .heading_words{
                float: left;
            }
            .controls{
                float: right;
            }
        }
        .fieldLabel{
            font-size: 12px;
            margin-top: 4px;
            margin-bottom: 2px;
        }
        label{
            font-size: 12px;
            line-height: 18px;
            display: inline-block;
            vertical-align: top;
        }
        input[type=number] {
            width: 72px;
            padding: 0px 2px;
            &.short{
                width:36px;
                margin: 2px;
            }
        }
        input[type=range] {
            -webkit-appearance: none;
            background-color: #333;
            height:12px;
            cursor: ew-resize;
        }

        input[type="range"]::-webkit-slider-thumb {
             -webkit-appearance: none;
            background-color: #DA3;
            width: 4px;
            height: 10px;
        }
        
        button{
            margin-top: 2px;
            height: 20px;
            line-height: 14px;
            vertical-align: top;
        }
        
        .urlarea{
            width: 100%;
            height: 70px;
            box-sizing: border-box;
            padding: 5px;
            background-color: #777;
            color: white;
            font-size: 12px;
            border: 0px;
        }
        .clearfix{
            height: 20px;
        }
        .drawer_content{
            .drawer_section{
                border-bottom: 1px solid white;
                .ds_heading{
                    background-color: #333;
                    font-size: 14px;
                    overflow: hidden;
                }
                .ds_body{
                    .drawer_division{
                        border-top: 1px solid #aaa;
                        .dd_heading{
                            overflow: hidden;
                            background-color: #333;
                            font-size: 11px;
                        }
                        .dd_body{
                            padding: 10px;
                            &.nopad{
                                padding: 0px;
                            }
                        }
                    }
                }
            }
            .heading_text{
                padding: $ds_element_padding;
                cursor: pointer;
            }
            .heading_button{
                padding: $ds_element_padding;
                min-width: 10px;
                text-align: center;
                cursor: pointer;
            }
            .heading_select{
                margin: $ds_element_padding - 2px;
            }
        }
    }







    #editor{
        font-family: $interface_font;
        width: $machine_width;
        position: absolute;
        left: $drawer_width + $circuit_padding;
        top: 0px;
        bottom: 0px;
        //background-color: $machine_color;

        #idea_window{
            overflow: hidden;
            position: absolute;
            top: 0px;
            bottom: $instrumentation_height;
            width: 100%;
            background-color: $case_color;

            #ideas{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                cursor: crosshair;
                #tracks{
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 100%;
                    border-left: 1px dotted $circuit_text_color;
                    .circuitTrack{
                        @include track(1px solid $track_line_color);
                        height: 100%;
                        .noteCapsule{
                            position: absolute;
                            width: $track_width;
                            min-height: (2*$note_expander_height)+1px;
                            .noteExpander{
                                height: $note_expander_height;
                                width: 100%;
                                background-color: #D82;
                                visibility: hidden;
                                cursor: n-resize;
                                border-bottom: 1px solid #C60;
                                border-top: 1px solid #C60;
                            }
                            .note{
                                background-color: $note_color;
                                opacity: 0.7;
                                min-height: 1px;
                                width: 100%;
                            }
                            &.selected{
                                z-index: 2;
                                .noteExpander{
                                    visibility: visible;
                                }
                                .note{
                                    cursor: move;
                                    opacity: 1;
                                }
                            }
                            &.recording{
                                .note{
                                    background-color: $kosher_color;
                                }
                            }
                        }
                    }
                }
                #barlines{ 
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    .bar{
                        width: 100%;
                        border-bottom: 1px solid $bar_line_color;
                        .beat{
                            width: 100%;
                            border-bottom: 1px dotted $beat_line_color;
                        }
                    }
                    .loop{
                        position: absolute;
                        background-color: #8AF;
                        height: 1px;
                        width: 100%;
                        display:none;
                    }
                }
                .noteSelectBox{
                    position: absolute;
                    border: 1px dashed white;
                    cursor: crosshair;
                }
            }
        }

        #instrumentation{
            width: 100%;
            height: $instrumentation_height;
            //background-color: $machine_color;
            position: absolute;

            div{
                overflow: hidden;
            }

            #swytches{
                border-left: 1px solid $circuit_text_color;
                border-top: 1px solid $circuit_text_color;
                border-bottom: 1px solid $circuit_text_color;
                .trackSwitch{
                    cursor: pointer;
                    height: $track_width;
                    line-height: $track_width;
                    color: $circuit_text_color;
                    text-align: center;
                    @include track(1px solid $circuit_text_color);
                    @include circuitry;
                }
            }

            #edit_controls{
                width: $machine_width - 10px;
                padding: 5px 5px 0px;
                background-color: $machine_color;
                font-family: $interface_font;
                vertical-align: middle;
                .ditch{
                    display:inline-block;
                    width: 9px;
                    height: 10px;
                }
                .spacer{
                    height: $control_dimension+16px;
                    padding-top: 6px;
                    &.group{
                        padding-top: 5px;
                        border-top: 1px solid $case_color;
                    }
                }


                .button_box{
                    width: $control_dimension+6px;
                    .label{
                        width: $control_dimension+6px;
                    }
                }

                .control{
                    min-height: $control_dimension;
                    padding: 3px 2px 2px 2px;
                    line-height: $control_dimension;
                    box-shadow: inset 0 0 5px #999;
                    margin: 0px auto;
                    border: 1px solid #000;
                    font-size: 14px;
                    text-align: center;
                    background-color: $note_color;
                    &.button{
                        width: $control_dimension;
                        cursor: pointer;
                        color: $circuit_text_color;
                        &.kosher{
                            background-color: $kosher_color;
                            box-shadow: none;
                        }
                        &.active{
                            background-color: $active_color;
                            box-shadow: 0px 0px 7px #8af;
                        }
                        &.warning{
                            background-color: $warning_color;
                            box-shadow: none;
                        }
                    }
                    &.field{
                        padding: 2px;
                        line-height: $control_dimension + 1px; /* inputs have some weirdness */
                        width: 100px;
                        &.twodigit{
                            width: 36px;
                        }
                        &.threedigit{
                            width: 48px;
                        }
                    }
                    &.select{
                        height: $control_dimension + 7px;
                    }   
                    &#bpm_box{
                        //width: 42px;
                    }
                    &#advance_box{
                        //width: 44px;
                    }
                }
            }



            #machines{
                background-color: $machine_color;
                .machine{
                    width: (($machine_width - 9px) / 10);
                    margin-right: 1px;
                    border-bottom: 0px;
                    height: $circuit_height - (2*$circuit_margin);
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                    background-color: $case_color;
                    color: white;
                    vertical-align: top;
                    cursor: pointer;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
            #circuits{
                .circuits{
                    width: $machine_width;
                    background-color: $case_color;
                    .circuitRow{
                        float:left;
                        width: $circuitrow_width;
                        margin: $circuitrow_margin;

                        .circuit{
                            border-radius: 3px;
                            border: $circuit_border solid black;
                            width: $circuit_width;
                            height: $circuit_height;
                            margin: $circuit_margin;
                            text-align: center;
                            line-height: $circuit_height;
                            @include unselectable;
                            @include circuitry;
                            cursor: pointer;
                        }
                    }
                    .touchpad{
                        width: $touchpad_dimension;
                        height: $touchpad_dimension;
                        border: 1px solid $machine_color;
                        margin: 62px auto;
                        border-radius: 5px;
                    }
                }
            }
        }

    }


}