/* ...
*= require_self
*= require ../basics
*/

$drawer_font: "kiroregular", "sans-serif";
$interface_font: "kiroregular", "sans-serif";

$drawer_width: 270px;
$ds_element_padding: 7px;

$component_padding: 5px;

$track_width: 19px;
$circuit_padding: 10px;
$tracks_width: (($track_width+1px)*30) + 1px; //tracks + borders

$swytches_height: $track_width + 2px;

$machine_width: $tracks_width;
$machine_height: 30px;
$instrumentation_height: 184px; // required for correct positioning of tracks

$machine_color: #222;
$case_color: #444; //rgba(100,100,100,0.62);
$drawer_content_color: #777;
$drawer_input_color: #333;

$slider_color: #DA3;
$slider_width: 4px;

$circuitrow_margin: 5px;
$circuitrow_width: ($machine_width/2) - (2*$circuitrow_margin);

$circuit_margin: 4px;
$circuit_border: 1px;
$circuits_per_row: 5;
$circuit_width: ($circuitrow_width - ((2*$circuits_per_row)*($circuit_margin+$circuit_border))) / $circuits_per_row;
$circuit_height: $circuit_width * .8;
$circuit_text_color: #222;

$bar_line_color: #222;
$beat_line_color: #333;
$track_line_color: #333;

$note_color: #DDD;
$note_expander_height: 2px;

$active_color: #FEA;
$warning_color: #FCC;
$kosher_color: #CFE;

$touchpad_dimension: 100px;

$control_dimension: 20px;
$controls_padding: 5px;
$controls_height: 46px;


@mixin unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@mixin track($border) {  
    width: $track_width;
    border-right: $border;
}

@mixin circuitry{
    background-color: #aaa;
    box-shadow: 0px 0px 7px #333 inset;
    color: black;
    &.active{ 
        background-color: #FEA !important; 
    }
    &.recording{ 
        background-color: #DFD !important; 
    }
    &.selected{ 
        background-color: #DDD;
    }
}

body{
    background-color:#0a0a0a;
    background-image: url('../bg.png');
}

::-webkit-scrollbar {
    width: $slider_width;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 $slider_width rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: $slider_color;
    outline: 1px solid $case_color;
}

div, spiv{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
    color: #AFF;
    &:active{
        color: #FFA;
    }   
    &:visited{
        color: #FAF;
    }
}

.centering{
    margin: 0px auto;
    height: 100%;
    width: (2*$drawer_width) + $machine_width + (2*$component_padding);
    position: relative;
}

#logo_drawer{
    font-size: 24px;
    text-align: center;
    line-height: $controls_height - (2 * $controls_padding);
}


#controls{
    height: $controls_height - (2 * $controls_padding);
    padding: $controls_padding;
    background-color: $case_color;
    font-family: $interface_font;
    .ditch{
        display:inline-block;
        width: 9px;
        height: 10px;
    }
    .spacer{
        height: $control_dimension+16px;
    }


    .button_box{
        width: $control_dimension+6px;
        .label{
            width: $control_dimension+6px;
        }
    }

    .control{
        min-height: $control_dimension;
        padding: 3px 2px 2px 2px;
        line-height: $control_dimension - 2px;
        box-shadow: inset 0 0 5px #999;
        margin: 0px auto;
        border: 1px solid #000;
        font-size: 14px;
        text-align: center;
        background-color: $note_color;
        &.button{
            width: $control_dimension;
            cursor: pointer;
            color: $circuit_text_color;
            &.kosher{
                background-color: $kosher_color;
                box-shadow: none;
            }
            &.active{
                background-color: $active_color;
                box-shadow: 0px 0px 7px #8af;
            }
            &.warning{
                background-color: $warning_color;
                box-shadow: none;
            }
        }
        &.field{
            padding: 2px;
            line-height: $control_dimension + 1px; /* inputs have some weirdness */
            width: 100px;
            &.twodigit{
                width: 36px;
            }
            &.threedigit{
                width: 48px;
            }
        }
        &.select{
            height: $control_dimension + 7px;
        }   
        &#bpm_box{
            //width: 42px;
        }
        &#advance_box{
            //width: 44px;
        }
    }
}



.drawer{
    font-family: $drawer_font;
    color: white;
    width: $drawer_width;
    background-color: $case_color;
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;

    &.sinistra{
        left: 0px;
    }
    &.dextra{
        right: 0px;
    }

    .drawer_heading{
        background-color: $drawer_content_color;
        border-bottom: 1px solid white;
        margin: 0px;
        line-height: 40px;
        padding: 0px 10px;
        font-weight: 100;
        font-size: 18px;
        clear: both;
        .heading_words{
            float: left;
        }
        .controls{
            float: right;
        }
    }
    .fieldLabel{
        margin-top: 8px;
        padding-top: 4px;
        border-top: 1px solid #888;
        font-size: 12px;
        margin-bottom: 4px;
        &.sub{
            border-top: 1px dotted #555;
        }
    }
    label{
        font-size: 10px;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
    .medium{
        width: 78px;
        input[type=number]{
            width: 72px;
        }
    }
    .short{
        width: 42px;
        input[type=number]{
            width: 36px;
        }
    }

    input[type=number] {
        width: 72px;
        padding: 0px 2px;
        margin: 0px 2px;
        background-color: $drawer_input_color;
        color: white;
        border: 1px solid #333;
        //border: none;
    }
    select{
        background-color: $drawer_input_color;
        color: white;
        -webkit-appearance: none;
        //border-color: $drawer_input_color;
        border: none;
        margin: 0px 2px;
    }
    .envelope_slider{
        margin-bottom: 2px;
        label{
            line-height: 12px;
            width: 48px;
            //background-color: #333;
        }
        input, select{
            vertical-align: middle;
        }
        input[type=range] {
            -webkit-appearance: none;
            background-color: $drawer_input_color;
            height:12px;
            cursor: ew-resize;
            width: 188px;
            margin: 0px 2px;
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: $slider_color;
            width: $slider_width;
            height: 10px;
        }
    }

    .encroach{
        position: relative;
        .thicket{
            position:absolute;
            bottom: 0px;
            right: 20px;
        }
    }

    button{
        margin-top: 2px;
        height: 20px;
        line-height: 14px;
        vertical-align: top;
    }

    .urlarea{
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        padding: 5px;
        background-color: #777;
        color: white;
        font-size: 12px;
        border: 0px;
    }
    .clearfix{
        height: 20px;
    }
    .drawer_content{
        overflow-y: auto;
        .drawer_section{
            border-bottom: 1px solid white;

            .ds_heading{
                background-color: #333;
                font-size: 14px;
                overflow: hidden;
            }
            .ds_body{
                .drawer_division{
                    border-top: 1px solid #aaa;
                    .dd_heading{
                        overflow: hidden;
                        background-color: #333;
                        font-size: 11px;
                    }
                    .dd_body{
                        padding: 10px;
                        &.nopad{
                            padding: 0px;
                        }
                    }
                }
            }
        }
        .heading_text{
            padding: $ds_element_padding;
            cursor: pointer;
        }
        .heading_button{
            padding: $ds_element_padding;
            min-width: 10px;
            text-align: center;
            cursor: pointer;
        }
        .heading_select{
            margin: $ds_element_padding - 2px;
            padding: 2px;
            font-family: $interface_font;
        }
    }
}


.main{
    width: $machine_width;
    position: absolute;
    left: $drawer_width + $component_padding;
}


#studio{
    position: absolute;
    top: $controls_height + $component_padding;
    bottom: $component_padding;
    left: 0px;
    right: 0px;




    #editor{
        font-family: $interface_font;
        bottom: 0px;
        top: 0px;

        //background-color: $machine_color;

        #idea_window{
            overflow: hidden;
            position: absolute;
            top: 0px;
            bottom: $instrumentation_height + $component_padding + $swytches_height;
            width: 100%;
            background-color: $case_color;

            #ideas{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                cursor: crosshair;
                #tracks{
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 100%;
                    border-left: 1px dotted $circuit_text_color;
                    .circuitTrack{
                        @include track(1px solid $track_line_color);
                        height: 100%;
                        .noteCapsule{
                            position: absolute;
                            width: $track_width;
                            min-height: (2*$note_expander_height)+1px;
                            .noteExpander{
                                height: $note_expander_height;
                                width: 100%;
                                background-color: #D82;
                                visibility: hidden;
                                cursor: n-resize;
                                border-bottom: 1px solid #C60;
                                border-top: 1px solid #C60;
                            }
                            .note{
                                background-color: $note_color;
                                opacity: 0.7;
                                min-height: 1px;
                                width: 100%;
                            }
                            &.selected{
                                z-index: 2;
                                .noteExpander{
                                    visibility: visible;
                                }
                                .note{
                                    cursor: move;
                                    opacity: 1;
                                }
                            }
                            &.recording{
                                .note{
                                    background-color: $kosher_color;
                                }
                            }
                        }
                    }
                }
                #barlines{ 
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    .bar{
                        width: 100%;
                        border-bottom: 1px solid $bar_line_color;
                        .beat{
                            width: 100%;
                            border-bottom: 1px dotted $beat_line_color;
                        }
                    }
                    .loop{
                        position: absolute;
                        background-color: #8AF;
                        height: 1px;
                        width: 100%;
                        display:none;
                    }
                }
                .noteSelectBox{
                    position: absolute;
                    border: 1px dashed white;
                    cursor: crosshair;
                }
            }
        }

        #swytches{
            position: absolute;
            bottom: $instrumentation_height + $component_padding;
            border-left: 1px solid $circuit_text_color;
            border-top: 1px solid $circuit_text_color;
            border-bottom: 1px solid $circuit_text_color;
            .trackSwitch{
                cursor: pointer;
                height: $track_width;
                line-height: $track_width;
                color: $circuit_text_color;
                text-align: center;
                @include track(1px solid $circuit_text_color);
                @include circuitry;
            }
        }

        #instrumentation{
            width: 100%;
            //background-color: $machine_color;
            position: absolute;

            div{
                overflow: hidden;
            }


            #machines{
                background-color: $machine_color;
                .machine{
                    width: (($machine_width - 9px) / 10);
                    margin-right: 1px;
                    border-bottom: 0px;
                    height: $circuit_height - (2*$circuit_margin);
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                    background-color: $case_color;
                    color: white;
                    vertical-align: top;
                    cursor: pointer;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
            #circuits{
                .circuits{
                    width: $machine_width;
                    background-color: $case_color;
                    .circuitRow{
                        float:left;
                        width: $circuitrow_width;
                        margin: $circuitrow_margin;

                        .circuit{
                            border-radius: 3px;
                            border: $circuit_border solid black;
                            width: $circuit_width;
                            height: $circuit_height;
                            margin: $circuit_margin;
                            text-align: center;
                            line-height: $circuit_height;
                            @include unselectable;
                            @include circuitry;
                            cursor: pointer;
                        }
                    }
                    .touchpad{
                        width: $touchpad_dimension;
                        height: $touchpad_dimension;
                        border: 1px solid $machine_color;
                        margin: 62px auto;
                        border-radius: 5px;
                    }
                }
            }
        }

    }

}