/* ...
*= require_self
*= require ../basics
*/

@import 'vars';

@mixin unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@mixin track($border) {  
    width: $track_width;
    border-right: $border;
}

@mixin circuitry($main, $text){
    background-color: $main;
    //box-shadow: 0px 0px 7px $shadow inset;
    color: $text;
    &.active{ 
        color: black;
        background-color: #FFF !important; 
    }
    &.recording{ 
        color: black;
        background-color: #DFD !important; 
    }
    &.selected{ 
        color: black;
        background-color: #DDD;
    }
}

body{
    background-color:#0a0a0a;
    background-image: url('../bg.png');
}

a{
    text-decoration: none;
    color: #AFF;
    &:active{
        color: #FFA;
    }   
    &:visited{
        color: #FAF;
    }
}

.centering{
    margin: 0px auto;
    height: 100%;
    width: (2*$drawer_width) + $machine_width + (2*$component_padding);
    position: relative;
}

#logo_drawer{
    font-size: 24px;
    text-align: center;
    line-height: $controls_height - (2 * $controls_padding);
}


#controls{
    height: $controls_height - (2 * $controls_padding);
    padding: $controls_padding;
    background-color: $case_color;
    font-family: $interface_font;
    .ditch{
        display:inline-block;
        width: 9px;
        height: 10px;
    }
    .spacer{
        height: $control_dimension+16px;
    }


    .button_box{
        width: $control_dimension+6px;
        .label{
            width: $control_dimension+6px;
        }
    }

    .control{
        min-height: $control_dimension;
        padding: 3px 2px 2px 2px;
        line-height: $control_dimension - 2px;
        box-shadow: inset 0 0 5px #999;
        margin: 0px auto;
        border: 1px solid #000;
        font-size: 14px;
        text-align: center;
        background-color: $note_color;
        &.button{
            width: $control_dimension;
            cursor: pointer;
            color: $circuit_text_color;
            font-size: 13px;
            &:before{
                vertical-align: middle;
            }
            &.kosher{
                background-color: $kosher_color;
                box-shadow: none;
            }
            &.active{
                background-color: $active_color;
                box-shadow: 0px 0px 7px #8af;
            }
            &.warning{
                background-color: $warning_color;
                box-shadow: none;
            }
        }
        &.field{
            padding: 2px;
            line-height: $control_dimension + 1px; /* inputs have some weirdness */
            width: 100px;
            &.twodigit{
                width: 36px;
            }
            &.threedigit{
                width: 48px;
            }
        }
        &.select{
            height: $control_dimension + 7px;
        }   
        &#bpm_box{
            //width: 42px;
        }
        &#advance_box{
            //width: 44px;
        }
    }
}



.drawer{
    font-family: $drawer_font;
    color: white;
    width: $drawer_width;
    background-color: $case_color;
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;

    &.sinistra{
        left: 0px;
    }
    &.dextra{
        right: 0px;
    }

    .fieldLabel{
        margin-top: 8px;
        padding-top: 4px;
        border-top: 1px solid #888;
        font-size: 12px;
        margin-bottom: 4px;
        &.sub{
            border-top: 1px dotted #555;
        }
    }
    .mainFields{
        overflow: hidden;
    }
    label{
        font-size: 10px;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
    .medium{
        width: 86px;
        input[type=number]{
            width: 72px;
        }
    }
    .short{
        width: 42px;
        input[type=number]{
            width: 36px;
        }
    }

    input[type=number] {
        height: $drawer_input_height;
        width: 84px;
        padding: 0px 0px 0px 2px;
        margin: 0px 2px;
        background-color: $dark_color;
        color: white;
        //border: 1px solid $dark_color;
        border: none;
    }
    select{
        height: $drawer_input_height;
        //-webkit-appearance: none;
        //-moz-appearance: window;
        background-color: $dark_color;
        color: white;
        //border-color: $dark_color;
        //border: 1px solid $dark_color;
        border: none;
        margin: 0px 2px;
    }
    .envelope_slider{
        margin-bottom: 2px;
        label{
            line-height: 12px;
            width: 48px;
            //background-color: #333;
        }
        input, select{
            vertical-align: middle;
            font-size: 13px;
            font-family: $drawer_font
        }
        
        // Webkit
        input[type=range] {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: $dark_color;
            height: $drawer_input_height - 2px;
            cursor: ew-resize;
            width: 188px;
            padding: 0px;
            margin: 0px 2px;
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: $trim_color;
            width: $slider_width;
            height: $drawer_input_height - 4px;
        }
        
        // Moz
        input[type=range]::-moz-range-track {
            -moz-appearance: none;
            background-color: $dark_color;
            height: $drawer_input_height - 2px;
            cursor: ew-resize;
            width: 188px;
            margin: 0px 2px;
            border: none;
        }
        input[type="range"]::-moz-range-thumb {
            -moz-appearance: none;
            background-color: $trim_color;
            width: $slider_width;
            height: $drawer_input_height - 4px;
            padding:0;
            margin:0;
        }
    }

    .encroach{
        position: relative;
        .thicket{
            position:absolute;
            bottom: 0px;
            right: 24px;
        }
    }

    button{
        margin-top: 2px;
        font-size: 12px;
        vertical-align: top;
        font-family: $drawer_font;
        border-width: 0px;
        padding: 2px 4px;
        border: 1px solid $dark_color;
    }

    .urlarea{
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        padding: 5px;
        background-color: $dark_color;
        color: white;
        font-size: 11px;
        border: 0px;
    }
    .clearfix{
        height: 20px;
    }
    .drawer_content{
        overflow-y: auto;
        .drawer_section{
            border-bottom: 1px solid $note_color;

            .ds_heading{
                background-color: $dark_color;
                font-size: 14px;
                overflow: hidden;
                .heading_select, .heading_text{
                    margin: $ds_element_padding - 1px;
                    font-size: 16px;
                    height: 20px;
                    line-height: 20px;
                }
                .heading_button{
                    padding: $ds_element_padding - 1px; 
                    height: 20px;
                    line-height: 20px;
                }
            }
            .ds_body{
                .drawer_division{
                    border-top: 1px solid $chill_color;
                    .dd_heading{
                        overflow: hidden;
                        background-color: $dark_color;
                        font-size: 11px;
                        .heading_select, .heading_text{
                            margin: $ds_element_padding - 3px;
                            font-size: 11px;
                            height: 18px;
                            line-height:18px;
                        }
                        .heading_button{
                            padding: $ds_element_padding - 3px; 
                            height: 18px;
                            line-height:18px;
                        }
                    }
                    .dd_body{
                        padding: 10px;
                        &.nopad{
                            padding: 0px;
                        }
                    }
                }
            }
        }
        .heading_button{
            min-width: 10px;
            text-align: center;
            cursor: pointer;
        }
        .heading_select, .heading_text{
            margin: $ds_element_padding;
            padding: 0px;
            font-family: $interface_font;
        }
        .heading_select{
            cursor: pointer;
        }
        .dd_heading{
            height: 12px + ($ds_element_padding * 2);
        }
    }
}


.main{
    width: $machine_width;
    position: absolute;
    left: $drawer_width + $component_padding;
}


#studio{
    position: absolute;
    top: $controls_height + $component_padding;
    bottom: $component_padding;
    left: 0px;
    right: 0px;




    #editor{
        font-family: $interface_font;
        bottom: 0px;
        top: 0px;

        //background-color: $machine_color;

        #idea_window{
            overflow: hidden;
            position: absolute;
            top: 0px;
            bottom: $instrumentation_height + $component_padding + $swytches_height;
            width: 100%;
            background-color: $case_color;

            #ideas{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                cursor: crosshair;
                #tracks{
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 100%;
                    border-left: 1px dotted $circuit_text_color;
                    .circuitTrack{
                        @include track(1px solid $dark_color);
                        height: 100%;
                        .noteCapsule{
                            position: absolute;
                            width: $track_width;
                            min-height: (2*$note_expander_height)+1px;
                            .noteExpander{
                                height: $note_expander_height;
                                width: 100%;
                                background-color: #D82;
                                visibility: hidden;
                                cursor: n-resize;
                                border-bottom: 1px solid #C60;
                                border-top: 1px solid #C60;
                            }
                            .note{
                                background-color: $note_color;
                                opacity: 0.7;
                                min-height: 1px;
                                width: 100%;
                            }
                            &.selected{
                                z-index: 2;
                                .noteExpander{
                                    visibility: visible;
                                }
                                .note{
                                    cursor: move;
                                    opacity: 1;
                                }
                            }
                            &.recording{
                                .note{
                                    background-color: $kosher_color;
                                }
                            }
                        }
                    }
                }
                #barlines{ 
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    .bar{
                        width: 100%;
                        border-bottom: 1px solid $dark_color;
                        &.final{
                            border-top: 1px solid $chill_color;
                        }
                        .beat{
                            width: 100%;
                            border-bottom: 1px dotted $dark_color;
                            .numeric{
                                font-size: 10px;
                                color: $note_color;
                            }
                        }
                    }
                    .loop{
                        position: absolute;
                        background-color: #8AF;
                        height: 1px;
                        width: 100%;
                        display:none;
                    }
                }
                .noteSelectBox{
                    position: absolute;
                    border: 1px dashed white;
                    cursor: crosshair;
                }
            }
        }

        #swytches{
            position: absolute;
            bottom: $instrumentation_height + $component_padding;
            border-left: 1px solid $circuit_text_color;
            border-bottom: 1px solid $circuit_text_color;
            .trackSwitch{
                cursor: pointer;
                height: $track_width;
                line-height: $track_width;
                font-size: 16px;
                color: $note_color;
                text-align: center;
                @include track(1px solid $circuit_text_color);
                background-color: $dark_color;
            }
        }

        #instrumentation{
            width: 100%;
            //background-color: $machine_color;
            position: absolute;

            div{
                overflow: hidden;
            }

            
            #circuits, #machines{
                //.circuits{
                    width: $machine_width;
                    background-color: $case_color;
                //}

                .touchpad{
                    width: $touchpad_dimension;
                    height: $touchpad_dimension;
                    border: 1px solid $case_color;
                    margin: 62px auto;
                    border-radius: 5px;
                }
            }
        }

    }

}




.circuitRow{
    width: $circuitrow_width;
    margin: $circuitrow_margin;

    &.tiny{
        width: 125px;
        margin: 2px 0px;
    }
    
    &.sinistra{
        text-align: left;
        &.tiny{
            margin-right: 2px;
        }
    }
    &.dextra{
        text-align: right;
        &.tiny{
            margin-left: 2px;
        }
    }

    .circuit, .machine{
        //border-radius: 3px;
        //border: $circuit_border solid black;
        font-size: 16px;
        width: $circuit_width;
        height: $circuit_height;
        margin: $circuit_margin;
        text-align: center;
        line-height: $circuit_height;
        @include unselectable;
        cursor: pointer;
        
        &.tiny{
            width: 21px;
            height: 21px;
            line-height: 21px;
            margin: 2px;
        }
    }
    .circuit{
        @include circuitry($dark_color, #FFF);
    }
    .machine{
        @include circuitry($dark_color, #FFF);
    }
}





#Sampler-SourceValid{
    position: relative;
    top: -22px;
    left: 4px;
    font-weight: bold;
    font-size: 13px;
    &.valid{
        color: $kosher_color;
    }
    &.invalid{
        color: $warning_color;
    }
}