-first=true
-@keys.flatten.each do |ascii|
    spiv class="trackSwitch#{first ? ' first' : ''}"
        -first = false
        =ascii.chr


spiv class='nodesContainer' id='bottomleft_nodes'
  -(0..3).each do |i|
    div class="nodeRow" 
      -(0..4).each do |j|
        -key = @keys[i][j]
        spiv id="key_#{key.ord}" class="node" =key
    -if i==0
      ditch


spiv class='nodesContainer' id='bottomright_nodes'
  -(0..3).each do |i|
    div class="nodeRow" 
      -(5..9).each do |j|
        -key = @keys[i][j]
        spiv id="key_#{key.ord}" class="node" =key
    -if i==0
      ditch


/style="margin-left: #{i*20}px"