spiv id='project_controls' class='controls'
    spiv class='spacer' id='save_controls'
        spiv class='button_box'
            div class='control button javascript' id='save' onclick='studio.save();' &#x5b58;
            div class='label' SAVE