hide id='loadies'
    hide class='loadie' id='samples'
    hide class='loadie' id='ditties'


div id='studio' class='left right bottom top'
  
    div id='machine' class='center'
        div id='ideas' class='bottom'
            =render partial: 'ideas', locals: {}
        div id='circuit'  class='bottom charm'
            =render partial: 'circuit', locals: {}


    div id='sample_drawer' class='drawer right top bottom charm'
    div id='ditty_drawer' class='drawer left top bottom charm'

/
  div id='controls'
    spiv id='controls_center'
      -['beginning','rewind','stop','record','play','forward','end'].each do |control|
        spiv class='control' id="control_#{control}"


  
javascript:
    var sampleFiles = #{raw @samples.map{|s|s ? s.file.url : nil}.to_json};
    var machine;
    $(function() {
        machine = new Machine(sampleFiles);
    });
