hide id='loadies'
    hide class='loadie' id='samples'
    hide class='loadie' id='ditties'


div id='studio' class='left right bottom top'
  
    div id='machine' class='center'
        div id='ideas'
            =render partial: 'ideas', locals: {}
        div id='circuit'  class='bottom charm'
            =render partial: 'circuit', locals: {}


    div id='sample_drawer' class='drawer right top bottom charm'
    div id='ditty_drawer' class='drawer left top bottom charm'

/
  div id='controls'
    spiv id='controls_center'
      -['beginning','rewind','stop','record','play','forward','end'].each do |control|
        spiv class='control' id="control_#{control}"


  
javascript:
    var project = #{raw @project.to_json}

    var ideas, nodas;

    $(function() {     
        nodas = [];
        
        // DOM-JS Bindings
        var actionPairs = [];
        $("#circuit .node").each(function(i,v) {
            var ascii = $(v).text().toUpperCase().charCodeAt(0);
            actionPairs[ascii] = {noda: $(v)};
        }).click(function() {
            // should control the actions of the key. not play note.
        });

        $("#circuit .trackSwitch").each(function(i,v){
            var ascii = $(v).text().toUpperCase().charCodeAt(0);
            actionPairs[ascii].swytche = $(v);
        }).click(function(){
            // something..?
        });


        // Sample Fetching and Allocation
        var ctx = new webkitAudioContext();
        for( var i in actionPairs ){
            var actionPair = actionPairs[i];
            if( actionPair && actionPair.noda && actionPair.swytche ){
                var nodeNotes = [];
                for( _j in project.timings ){
                    if( project.timings[_j].key.toUpperCase().charCodeAt(0).toString() === i ){
                        nodeNotes.push(project.timings[_j]);
                    }
                }
                nodas[i] = new Noda(actionPair.noda, actionPair.swytche, ctx, nodeNotes, project.bindings[i]);
            }
        }        


        // Event Handling
        $("body").keydown(function(ev) {
            var ascii = ev.which
            if(ascii === 32){
                ideas.playpause();
            } else if (ascii === 59) {
                ascii = 186;
            } else if (ascii < 48) {
                ascii = ascii + 144;
            } else if( ev.which > 200) { //perhaps this should be handled by dummy nodas
                return;
            } 
            nodas[ascii].on();
            ev.preventDefault();
        }).keyup(function(ev) {
            var ascii = ev.which
            if(ascii === 13){
                ideas.start();
            } else if (ascii === 59) {
                ascii = 186;
            } else if (ascii < 48) {
                ascii = ascii + 144;
            } else if( ev.which > 200) { //perhaps this should be handled by dummy nodas
                return;
            } 
            nodas[ev.which].off();
        });

        $("#bpm_box").change( function(){ project.bpm = parseInt(this.value) } );

        ideas = new Ideas(project);
    });
