- content_for :circuit_includes do
    -for circuit in @project.unique_circuits
        =javascript_include_tag circuit.script
        

div id='studio'
  
    div class='drawer sinistra'
        div class='drawerbox'
            div class='drawer_heading' 
                spiv Project
                =render partial: 'project_controls', locals: {}
            div id='project_details' class='important_details'
                =render partial: 'project_details', locals: {}

    div id='machine'
        div class='shield top'
        div id='ideas'
        div id='circuits' class='bottom charm'
            =render partial: 'circuits', locals: {}
        div class='shield bottom'

    div class='drawer dextra'
        div class='drawerbox'
            div class='drawer_heading'
                spiv Circuit
            div id='circuit_details' class='important_details'



  
javascript:
    $('.control.button:not(.javascript)').
        mousedown(function(){ $(this).addClass('active');    }).
        mouseup(function(){   $(this).removeClass('active'); })

    var studio;
    var project = #{raw(render partial: 'projects/project.json', locals: {project: @project})}
    $(function() {
        studio = new NodeaStudio(document.getElementById("ideas"), document.getElementById("circuits"), project);
    });
