#studio {
  background-color: #555; }
  #studio .drawer {
    width: 160px;
    height: 100%;
    background-color: #89A;
    position: fixed; }
  #studio #machine {
    width: 801px;
    overflow: hidden;
    height: 100%;
    background-color: #333333; }
    #studio #machine #ideas {
      position: fixed;
      background-color: #333333;
      padding: 10px 20px 0px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      width: 761px;
      text-align: center; }
      #studio #machine #ideas #tracks {
        position: absolute;
        bottom: 0px;
        width: 761px;
        height: 100%; }
        #studio #machine #ideas #tracks .nodeTrack {
          width: 18px;
          border-right: 1px dotted #222222;
          height: 100%;
          background-color: #777777; }
          #studio #machine #ideas #tracks .nodeTrack.first {
            border-left: 1px dotted #222222; }
          #studio #machine #ideas #tracks .nodeTrack .note {
            background-color: rgba(200, 200, 230, 0.6);
            position: absolute;
            width: 18px; }
            #studio #machine #ideas #tracks .nodeTrack .note.recording {
              background-color: rgba(230, 200, 200, 0.6); }
      #studio #machine #ideas #barlines {
        position: absolute;
        bottom: 0px;
        width: 761px; }
        #studio #machine #ideas #barlines .beat {
          width: 100%;
          border-bottom: 1px dotted #555;
          border-collapse: collapse;
          height: 47px; }
    #studio #machine #circuit {
      width: 761px;
      background-color: #333333;
      padding: 0px 20px 11px;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      #studio #machine #circuit div {
        overflow: hidden; }
      #studio #machine #circuit #swytches .trackSwitch {
        height: 18px;
        line-height: 18px;
        background-color: #cccccc;
        color: #222222;
        -webkit-box-shadow: inset 0 0 5px #999;
        color: #222222;
        text-align: center;
        width: 18px;
        border-right: 1px solid #222222; }
        #studio #machine #circuit #swytches .trackSwitch.active {
          background-color: #ccccff;
          -webkit-box-shadow: none; }
        #studio #machine #circuit #swytches .trackSwitch.recording {
          background-color: #ffcccc;
          -webkit-box-shadow: none; }
        #studio #machine #circuit #swytches .trackSwitch.first {
          border-left: 1px solid #222222; }
      #studio #machine #circuit #controls {
        width: 761px;
        margin: 6px 0px 5px; }
        #studio #machine #circuit #controls .controls_container {
          float: left;
          height: 36px; }
          #studio #machine #circuit #controls .controls_container .button_box {
            width: 32px; }
          #studio #machine #circuit #controls .controls_container .control {
            line-height: 20px;
            margin: 0px auto;
            border: 1px solid #000;
            background-color: #cccccc;
            color: #222222;
            -webkit-box-shadow: inset 0 0 5px #999;
            font-size: 14px;
            text-align: center; }
            #studio #machine #circuit #controls .controls_container .control.active {
              background-color: #ccccff;
              -webkit-box-shadow: none; }
            #studio #machine #circuit #controls .controls_container .control.recording {
              background-color: #ffcccc;
              -webkit-box-shadow: none; }
            #studio #machine #circuit #controls .controls_container .control.button {
              width: 20px;
              cursor: pointer;
              padding: 3px 3px 2px 2px; }
            #studio #machine #circuit #controls .controls_container .control.field {
              padding: 2px;
              line-height: 21px;
              /* inputs have some weirdness */ }
            #studio #machine #circuit #controls .controls_container .control.select {
              padding: 2px;
              height: 27px; }
            #studio #machine #circuit #controls .controls_container .control#bpm_box {
              width: 42px; }
            #studio #machine #circuit #controls .controls_container .control#advance_box {
              width: 44px; }
          #studio #machine #circuit #controls .controls_container .label {
            color: white;
            font-size: 7px;
            font-family: sans-serif;
            line-height: 12px;
            text-align: center; }
      #studio #machine #circuit #nodes {
        width: 759px;
        background-color: #005577;
        border: 1px solid black; }
        #studio #machine #circuit #nodes .nodesContainer {
          padding: 5px; }
          #studio #machine #circuit #nodes .nodesContainer#bottomleft_nodes {
            float: left; }
          #studio #machine #circuit #nodes .nodesContainer#bottomright_nodes {
            float: right; }
          #studio #machine #circuit #nodes .nodesContainer .node {
            border: 1px solid black;
            width: 60px;
            height: 48px;
            margin: 5px;
            background-color: #cccccc;
            color: #222222;
            -webkit-box-shadow: inset 0 0 5px #999;
            text-align: center;
            line-height: 48px;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            /*
             Introduced in IE 10.
             See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
            -ms-user-select: none;
            user-select: none; }
            #studio #machine #circuit #nodes .nodesContainer .node.active {
              background-color: #ccccff;
              -webkit-box-shadow: none; }
            #studio #machine #circuit #nodes .nodesContainer .node.recording {
              background-color: #ffcccc;
              -webkit-box-shadow: none; }

