$drawer_width: 160px;

$machine_width: 801px;
$machine_color: #333;

$circuit_padding: 20px;
$circuit_width: $machine_width - (2 * $circuit_padding);
$circuit_color: #057;

$node_height: 48px;
$node_width: 60px;
$node_margin: 5px;
$node_color: #CCC;
$node_text_color: #222;
$node_active_color: #CCF;
$node_recording_color: #FCC;

$tracks_width: 761px;
$track_width: 18px;
$track_color: #777;

$beat_height: 47px;

$control_dimension: 20px;

@mixin unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@mixin track($border) {  
    width: $track_width;
    border-right: $border;
    &.first{
        border-left: $border;
    }
}

@mixin node_color {
    background-color: $node_color;
    color: $node_text_color;
    -webkit-box-shadow: inset 0 0 5px #999;
    &.active{
        background-color: $node_active_color;
        -webkit-box-shadow: none;
    }
    &.recording{
        background-color: $node_recording_color;
        -webkit-box-shadow: none;
    }   
} 




#studio{
    background-color: #555;

    .drawer{
        width: $drawer_width;
        height: 100%;
        background-color: #89A;
        position: fixed;
    }

    #machine{
        width: $machine_width;
        overflow: hidden;
        height: 100%;
        background-color: $machine_color;

        #ideas{
            position: fixed;
            background-color: $machine_color;
            padding: 10px $circuit_padding 0px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            width: $circuit_width;
            text-align: center;
            #tracks{
                position: absolute;
                bottom: 0px;
                width: $tracks_width;
                height: 100%;
                .nodeTrack{
                    @include track(1px dotted $node_text_color);
                    height: 100%;
                    background-color: $track_color;
                    .note{
                        background-color: rgba(200,200,230,0.6);
                        position: absolute;
                        width: $track_width;
                        &.recording{
                            background-color: rgba(230, 200, 200, 0.6);
                        }
                    }
                }
            }
            #barlines{ 
                position: absolute;
                bottom: 0px;
                width: $tracks_width;
                .beat{
                    width: 100%;
                    border-bottom: 1px dotted #555;
                    border-collapse: collapse;
                    height: $beat_height;
                }
            }
        }

        #circuit{
            width: $circuit_width;
            background-color: $machine_color;
            padding: 0px $circuit_padding 11px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            div{
                overflow: hidden;
            }

            #swytches{
                .trackSwitch{
                    height: $track_width;
                    line-height: $track_width;
                    @include node_color;
                    color: $node_text_color;
                    text-align: center;
                    @include track(1px solid $node_text_color);
                }
            }

            #controls{
                width: $circuit_width;
                margin: 6px 0px 5px;
                .controls_container{
                    float: left;
                    height: $control_dimension+16px;
                    .control_box{
                        width: $control_dimension+12px;
                    }
                    .control{
                        line-height: $control_dimension;
                        margin: 0px auto;
                        border: 1px solid #000;
                        @include node_color;
                        font-size: 14px;
                        text-align: center;
                        &.button{
                            width: $control_dimension;
                            cursor: pointer;
                            padding: 3px 3px 2px 2px;
                        }
                        &.field{
                            padding: 2px; 
                        }
                        &#bpm_box{
                            width: 42px;
                        }
                    }
                    
                    .label{  
                        color: white;
                        font-size: 7px;
                        font-family: sans-serif;
                        line-height: 12px;
                        text-align: center;
                    }
                }
            }

            #nodes{
                width: $circuit_width - 2px;
                background-color: $circuit_color;
                border: 1px solid black;
                .nodesContainer{
                    padding: 5px;
                    &#bottomleft_nodes{
                        float:left;
                    }
                    &#bottomright_nodes{
                        float:right;
                    }

                    .node{
                        border: 1px solid black;
                        width: $node_width;
                        height: $node_height;
                        margin: $node_margin;
                        @include node_color;
                        text-align: center;
                        line-height: $node_height;
                        @include unselectable;
                    }
                }
            }
        }
    }
    

}