$drawer_width: 160px;

$machine_width: 801px;
$machine_color: #333;

$circuit_padding: 10px;
$circuit_width: $machine_width - (2 * $circuit_padding);
$circuit_height: 300px;
$circuit_color: #057;

$node_height: 48px;
$node_width: 60px;
$node_margin: 6px;
$node_color: #CCC;
$node_text_color: #222;
$node_active_color: #CFF;

$tracks_width: 761px;
$track_width: 18px;
$track_color: #777;

$beat_height: 47px;

$control_dimension: 30px;

@mixin unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@mixin track($border_color) {  
    width: $track_width;
    border-right: 1px dotted $border_color;
    &.first{
        border-left: 1px dotted $border_color;
    }
}

@mixin node_color {
    background-color: $node_color;
    color: $node_text_color;
    &.active{
        background-color: $node_active_color;
    }
} 




#studio{
    background-color: #555;

    .drawer{
        width: $drawer_width;
        height: 100%;
        background-color: #89A;
        position: fixed;
    }

    #machine{
        width: $machine_width;
        overflow: hidden;
        height: 100%;

        #ideas{
            position: fixed;
            bottom: $circuit_height;
            background-color: $machine_color;
            padding: 10px 20px 0px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            width: $circuit_width - 20;
            text-align: center;
            #tracks{
                position: absolute;
                bottom: 0px;
                width: $tracks_width;
                height: 100%;
                .nodeTrack{
                    @include track($node_text_color);
                    height: 100%;
                    background-color: $track_color;
                    .note{
                        background-color: rgba(230,230,180,0.6);
                        position: absolute;
                        width: $track_width;
                    }
                }
            }
            #barlines{ 
                position: absolute;
                bottom: 0px;
                width: $tracks_width;
                .beat{
                    width: 100%;
                    border-bottom: 1px dotted #555;
                    border-collapse: collapse;
                    height: $beat_height;
                }
            }
        }

        #circuit{
            width: $circuit_width;
            height: $circuit_height;
            background-color: $machine_color;
            padding: 0px $circuit_padding;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            #track_switches{
                .trackSwitch{
                    height: $track_width;
                    line-height: $track_width;
                    @include node_color;
                    color: $node_text_color;
                    text-align: center;
                    @include track($node_text_color);
                }
            }

            .nodesContainer{
                background-color: $circuit_color;
                padding: 5px;
                margin: 10px;
                &#bottomleft_nodes{
                    float:left;
                }
                &#bottomright_nodes{
                    float:right;
                }

                .node{
                    width: $node_width;
                    height: $node_height;
                    margin: $node_margin;
                    @include node_color;
                    text-align: center;
                    line-height: $node_height;
                    @include unselectable;
                }
            }
        }
    }
    





    #controls{
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        background-color: transparent;
        #controls_center{
            background-color: #123;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 4px 16px 0px;
            .control{
                width: $control_dimension;
                height: $control_dimension;
                border: 1px solid black;
                border-radius: $control_dimension / 2;
                background-color: #5AE;
                margin: 5px;
            }
        }
    }

}