<!DOCTYPE html>
<html>
<head>
  <title>Nodea Studio</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <%=render partial: 'layouts/header', locals: {subtle: false}%>
  
  <%= yield %>

  <%=render partial: 'layouts/footer'%>
  
</body>
</html>
